@import url('reset.css');   

:root {
	--fundo: #ffff;
	--inter : "inter";
}

.header__introducao{
	font-family: var(--inter);
	font-weight: 700;
	font-size:20px;
	margin: 0.5em 0em;
	
	
}

.header__titulo-principal{
	font-family: var(--inter);
	font-weight: 700;
	font-size:50px;
	text-transform: uppercase;
}


.links{
	display: none;

}

.links__mobile{
	display: flex;
	margin: 1em 0em;
	gap: 2em;
	
}


.header__descricao{
	font-family: var(--inter);
	margin: 0.5em 0em;
	font-size: 20px;
}

.header{
	padding: 3em;
}