@import url('reset.css');   

:root {
	--fundo: #ffff;
	--destaque: rgb(82, 175, 238);
	--preto: black;
	--inter : "inter";
}

.body{
	background-color: var(--fundo);
}


.header__introducao{
	font-family: var(--inter);
	font-weight: 700;
	font-size:23px;
	margin: 0.5em 0em;
	
	
}

.header__titulo-principal{
	font-family: var(--inter);
	font-weight: 700;
	font-size:50px;
	text-transform: uppercase;
}


.links{
	display: none;

}

.links__mobile{
	display: flex;
	margin: 1em 0em;
	gap: 2em;
	justify-content: center;
	padding-top: 1em;
	
}

.imagem{
	width: 50px;
}


.header__descricao{
	font-family: var(--inter);
	margin: 0.5em 0em;
	font-size: 23px;
}

.header{
	padding: 3em;
}

.projetos{
	text-align: center;
}

.projetos__link{
	text-decoration: none;
	color: var(--preto);
}

.projetos__link:hover{
	color: var(--destaque);
}

.projetos__titulo{
	font-family: var(--inter);
	font-weight: 700;
	font-size: 24px;
	padding-bottom: 1.5em;
}

.projetos__container__mobile{
	margin: 0em 1.5em;
}

.projetos__container__imagem{
	padding: 0.5em;
}

.imagem__mobile{
	width: 20%;
}

.imagem__tablet{
	width: 40%;
}

.projetos__imagem{
	padding: 1em;
	width: 80vw;
	margin-bottom:3em;
}

.footer{
	text-align: center;
	font-family: var(--inter);
	font-weight: 400;
	border-top: 1px solid var(--preto);
}

.footer__texto{
	padding: 1.5em;
}

@media screen and (min-width:1024px){

	.header{
		margin-bottom: 3em;
	}

	.header__introducao{
		font-size:35px;
		}

	.header__titulo-principal{
		font-size:85px;
	}

	.header__descricao{
		font-size: 35px;
	}
	
	.links__mobile{display: none;}

	.links{
		display: flex;
		margin: 1em 0em;
		gap: 2em;
		align-items: flex-end;
		
	}

	.imagem{
		width: 80px
	}

	.header__container{
		display: flex;
		gap: 2em;
	}

	.projetos__titulo{
		font-size: 45px;
		margin-bottom: 1em;
	}

	.projetos__container__mobile{
		display: flex;
		align-items: flex-end;
		justify-content: center;

	}
	
	.imagem__mobile{
		width: 20%;
	}

	.imagem__tablet{
		width: 40%;
	}

	.projetos__imagem{
		margin-bottom: 5em;
	}

	.footer__texto{
		font-size: 20px;
	}
}

@media screen and (min-width: 1128px){
	.header{
		height: 100vh;
		margin: 12em 20em 0em 20em;

	}
	.header__introducao {
		font-size: 40px;
	}

	.header__descricao{
		font-size: 40px;
		padding-right: 3em;
	}
	.header__titulo-principal{
		font-size: 110px;
	}


	
}