@import url('reset.css');   

:root {
	--fundo: #ffff;
	--destaque: rgb(82, 175, 238);
	--inter : "inter";
}


.header__introducao{
	font-family: var(--inter);
	font-weight: 700;
	font-size:23px;
	margin: 0.5em 0em;
	
	
}

.header__titulo-principal{
	font-family: var(--inter);
	font-weight: 700;
	font-size:50px;
	text-transform: uppercase;
}


.links{
	display: none;

}

.links__mobile{
	display: flex;
	margin: 1em 0em;
	gap: 2em;
	
}

.imagem{
	width: 50px;
}


.header__descricao{
	font-family: var(--inter);
	margin: 0.5em 0em;
	font-size: 23px;
}

.header{
	padding: 3em;
}

.projetos{
	text-align: center;
}

.projetos__link{
	text-decoration: none;
	color: black;
}

.projetos__link:hover{
	color: var(--destaque);
}

.projetos__titulo{
	font-family: var(--inter);
	font-weight: 700;
	font-size: 24px;
	padding-bottom: 1.5em;
}

.projetos__container__mobile{
	margin: 0em 1.5em;
}

.projetos__container__imagem{
	padding: 0.5em;
}

.projetos__imagem{
	padding: 1em;
	width: 80vw;
	margin-bottom:3em;
}

